#angle_label {
    position: absolute;
    top: 35px;
    left: 5%;
    font-size: 1.25em;
    color: white;
}

#angle_slider {
    position: absolute;
    top: 37px;
    left: 25%;
    width: 150px;
}

#angle_value {
    position: absolute;
    top: 35px;
    left: 80%;
    font-size: 1.25em;
    color: white;
}

.back_button {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 50px;
    width: 100px;
    display: flex;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.25em;
}

.back_button:active {
    color: black;
    background-color: white;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #0E0B16;
    display: flex;
}

canvas {
    position: absolute;
    border: 3px solid white;
}

.canvas_container {
    height: 80%;
    width: 100%;
    bottom: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas_cover {
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: antiquewhite;
    border: 3px solid white;
    overflow: auto;
}

#circle_count {
    position: absolute; 
    color: black; 
    top: 30px; left: 
    150px; 
    white-space: nowrap;
}

#clear_button {
    left: 10px; 
    top: 145px; 
    width: 114px; 
    height: 35px; 
    font-size: 1.1em;
}

#clickone {
    position: absolute;
    color: white;
    top: 80%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-size: 1.5em;
    z-index: 9999;
    pointer-events: none;
}

#close_button {
    border: 2px solid black; 
    color: black; 
    height: 25px; 
    width: 70px; 
    left: 14px; 
    top: 14px;
}

#complex_disclaimer {
    position: absolute; 
    color: black; 
    top: 130px; 
    left: 15px; 
    white-space: nowrap; 
    font-size: 0.8em;
}

#complex_label {
    position: absolute; 
    color: black; 
    top: 50px; 
    left: 15px; 
    white-space: nowrap;
}

#complex_num {
    position: absolute; 
    color: black; 
    top: 75px; 
    left: 15px; 
    white-space: nowrap; 
    font-size: 0.8em;
}

#complexity_label {
    position: absolute;
    left: 8%;
    font-size: 1.25em;
    color: white;
}

#complexity_slider {
    position: absolute;
    top: 2px;
    left: 43%;
    width: 105px;
}

#complexity_value {
    position: absolute;
    top: 1px;
    left: 83%;
    font-size: 1.25em;
    color: white;
}

.control_panel {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    bottom: 1px;
    border-top: 3px solid white;
    align-items: center;
    display: flex;
    justify-content: center;
}

#color_label {
    color: white; 
    position: absolute; 
    top: 65px; left: 15px; 
    width: 50px; 
    font-size: 1.3em; 
    text-align: center;
}

#color_label2 {
    color: white; 
    position: absolute; 
    top: 10px; 
    right: 7%; 
    width: 50px; 
    font-size: 1.3em; 
    text-align: center;
}

#color_label3 {
    color: white; 
    position: absolute; 
    top: 65px; 
    left: 15px; 
    width: 50px; 
    font-size: 1.3em; 
    text-align: center;
}

#color_label4 {
    color: white; 
    position: absolute; 
    top: 9px; 
    left: 145px; 
    width: 50px; 
    font-size: 1.3em; 
    text-align: center;
}

#color_picker {
    position: absolute;
    top: 10px;
    right: 10px;
}

#custom_button {
    left: unset; 
    right: 10px; 
    top: 60px; 
    width: 114px; 
    height: 35px; 
    font-size: 1.1em;
}

.description_title {
    position: absolute;
    left: 25px;
    top: 125px;
    width: 200px;
    font-size: 1.4em;
    color: antiquewhite;
    overflow: hidden;
}

.description {
    position: absolute;
    left: 25px;
    top: 175px;
    width: 190px;
    height: 275px;
    font-size: 1.1em;
    color: antiquewhite;
    overflow: auto;
}

.dropdown {
    position: absolute;
    display: inline-block;
    width: 30px;
}

.dropdown:hover .dropdown_list {
    display: block;
}
  
.dropdown_button {
    background-color: #0E0B16;
    color: white;
    padding: 10px 20px;
    width: 100px;
    border: 3px solid white;
    cursor: pointer;
}

.dropdown_list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 80px;
    background-color: antiquewhite;
    padding: 10px;
    display: none;
    font-size: 0.9em;
}
  
.dropdown_list option {
    display: block;
    color: #0E0B16;
    padding: 5px 10px;
    text-decoration: none;
}

#fern_description {
    top: 75px; 
    left: 15px; 
    width: 125px; 
    font-size: 1.3em;
}

#fractal {
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    font-size: 10vw;
    z-index: 9999;
    background-color: transparent;
    pointer-events: none;
}

.fractal_display {
    position: absolute;
    width: 30vw;
    height: 45vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-size: 2em;
    color: white;
}

.fractal_text {
    position: absolute;
    text-shadow: 0 0 30px red;
}
  
.fractal_display img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.fractal_display:hover img {
    border: 2px solid rgba(255, 255, 255, 0.582);
}

#imaginary_slider {
    top: 100px; 
    left: 50px; 
    width: 30px;
}

.input_column {
    position: absolute;
    top: 100px;
    left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.input_column input {
    width: 150px;
    margin-bottom: 10px;
}

.matrix_8x5 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    width: 60%;
    height: 90%;
}
  
.matrix_cell {
    width: 100%;
    height: 30px;
}

.option:hover {
    display: block;
    background-color: white;
}

.option:active {
    display: block;
    background-color: black;
    color: white;
}

#pause {
    left: unset; 
    right: 10px; 
    top: 10px; 
    width: 114px; 
    height: 35px; 
    font-size: 1.1em;
}

.preset_container {
    position: absolute;
    left: 150px;
    right: 150px;
    top: 5px;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
}

.preset_option {
    flex-basis: calc(16.666%);
    padding: 20px;
    height: 50%;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    border: 3px solid white;
    color: white;
}

.preset_option:hover {
    color: black;
    background-color: antiquewhite;
}

.preset_option:active {
    color: black;
    background-color: white;
}

#real_slider {
    top: 100px; 
    left: 15px; 
    width: 30px;
}

#reset_fractal {
    left: 10px; 
    top: 10px; 
    width: 114px; 
    height: 35px; 
    font-size: 1.1em;
}

#reset_zoom_button {
    left: 10px; 
    top: 10px; 
    width: 114px; 
    height: 35px; 
    font-size: 1.1em;
}

#run_button {
    position: absolute; 
    top: 330px; 
    border: 2px solid black; 
    color: black;
}

.settings_div {
    position: absolute;
    justify-content: center;
    height: 80%;
    width: 300px;
    display: flex;
}

#scale_label {
    color: white; 
    position: absolute; 
    top: 100px; 
    right: 7%; 
    width: 50px; 
    font-size: 1.3em; 
    text-align: center;
}

.slider {
    position: absolute;
    width: 100px;
}

#zoom_label {
    position: absolute; 
    top: 20px; 
    width: 500px; 
    font-size: 1.3em; 
    text-align: center; 
    color: antiquewhite; 
    overflow: auto;
}

#zoom_description {
    position: absolute; 
    top: 60px; 
    width: 400px; 
    font-size: 1.1em; 
    text-align: center; 
    color: antiquewhite; 
    overflow: auto;
}

